---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import FoodMenuMainItem from "@components/FoodMenuMainItem.tsx";

const menu = await getCollection("menu");
const orderedMenu = menu.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Menü">
  <div class="no-scrollbar h-full overflow-y-auto">
    {
      orderedMenu.map((item, idx) => (
        <FoodMenuMainItem
          client:load
          mainTitle={item.data.mainTitle}
          mainTitleEN={item.data.mainTitleEN}
          items={item.data.items}
          menuLayout={item.data.menuLayout}
          priceColumns={item.data.priceColumns}
          containerStyles={`${orderedMenu.length - 1 === idx ? "" : "mb-8"}`}
        />
      ))
    }
    <!-- <p class="mt-8 text-center text-sm">
        Hesaplarınıza yüzde 10 servis ücreti eklenmektedir.
      </p> -->
  </div>
</Layout>
